.main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 20px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #f9f9f9; /* cor de fundo do container */
  color: #333; /* corgb(31, 31, 31)etras do container */
}

.container h1 {
  text-align: center;
  margin-bottom: 10px;
  color: #d66d27; /* cor das letras do título */
}

.formGroup {
  margin-bottom: 15px;
  
}
.container form{
  width: 70%;
}

.container label {
  display: block;
  margin-bottom: 5px;
  justify-content: space-between;
  color: #666; /* cor das letras dos labels */
}

.container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d66d27;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #fff; /* cor de fundo dos inputs */
  color: #333; /* cor das letras dos inputs */
}

.container button {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #d66d27; /* cor de fundo do botão */
  color: #fff; /* cor das letras do botão */
}